---
import AboutHeroImage from '../assets/blog-placeholder-about.jpg';
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Me"
	description="Lorem ipsum dolor sit amet"
	pubDate={new Date('July 31 2025')}
	heroImage={AboutHeroImage}
>
	<p>
		Hi! My name is Alex McCarthy, and I am conducting research on behalf of <strong>CloudSecure</strong>. This blog documents my ongoing work in security automation, red teaming, and AI-driven vulnerability detection. Here you'll find technical write-ups, prototype designs, and reflections on building tools to help secure cloud environments and developer workflows.
	</p>
	<p>
		I am a maths undergraduate at the University of Durham, being in my 3rd Year completing an integrated masters Mathematics degree. I am a huge fan of F1, Football (Up the Toffees!) and Padel.
	</p>
</Layout>
